# Dependencies — ставятся при deploy/CI
node_modules/

# Компилированные/сгенерённые (если будешь транспилировать)
lib/

# Локальные конфиги/секреты для функций
.runtimeconfig.json
.env
.npmrc

# Локальные артефакты
*.local
