# IDE
.idea/
*.iml
.DS_Store

# Android/Gradle build
.gradle/
build/
**/build/
captures/
.externalNativeBuild/
.cxx/

# Local machine configs
local.properties

# Keystores / приватные вещи
*.jks
keystore.properties
gradle.properties

# Firebase локальные артефакты/эмуляторы
.firebase/
.firebaserc.local

# (опционально) если не хочешь коммитить google-services.json, раскомментируй:
# app/google-services.json
